/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font-family: 'Arial', sans-serif;
}

header {
  background-color: #005a89;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50px;
  margin-right: 20px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 20px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
}

nav ul li a:hover {
  color: #ffbb33;
}

section {
  padding: 50px 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #005a89;
}

.service-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service {
  width: 200px;
  margin-bottom: 30px;
  text-align: center;
}

.service-img {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}

#repairForm {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#repairForm input, #repairForm textarea {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#repairForm button {
  background-color: #005a89;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#repairForm button:hover {
  background-color: #ffbb33;
}

footer {
  background-color: #005a89;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

footer a {
  color: white;
}

#responseMessage {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #005a89;
}
